@import './base.css';

#app {
  flex: 1;
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
  box-sizing: border-box;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  /* padding: 3px; */
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    cursor: url(../static/plan2.png), auto;
  }

  body :hover {
    cursor: url(../static/plan2.png), auto;
  }

  div :hover {
    cursor: url(../static/plan2.png), auto;
  }

  a {
    cursor: url(../static/plan2.png), auto;
  } */

  body {
    display: flex;
  }

  #app {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* padding: 0 2rem; */
  }
}
